*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5rem;
    margin-left: 10rem;
}

/* heading */
.heading{
    font-size: 2rem;
    padding-bottom: 20px; 
}

/* input-section */
.input-section{
    border: 1px solid #00000066;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #90ee9040;
    width: 1200px;
}

/* search */
.search-input{
    font-size: 18px;
    padding: 12px;
}

.search-input > #inputSearch{
    height: 25px;
    width: 500px;
    padding-left: 10px;
    font-size: 15px;
    margin: 10px;
    border: 1px solid #00000066;
    outline: none;
    border-radius: 5px;
    text-transform: capitalize;
}

.sorting{
    height: 30px;
    width: 105px;
    font-size: 15px;
    border: 1px solid #00000066;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    float: right;
    margin: 7px;
    margin-right: 18px;
}

/* table */

table, th, td{
    border: 1px solid #00000066;
    border-collapse: collapse;
    padding: 10px;
    padding-left: 20px;
}

.table-section > table{
    width: 1200px;
    font-size: 20px;
}

.Order-2, .Order-4{
    background-color: #90ee9040;
}
